
.title{
  display:none;
}

.pizza-start{
  display: none;
}

.pizarra img{
  display:none;
}

.pizarra p{
  display: none;
}

.pizarra ul{
  display: none;
}

.game-page{
  position: relative;
  background-image: url("images/restaurante-5.jpg");
  background-repeat:no-repeat; 
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.cocinero{
  display: inline-block;
  width: 301px;
  position: absolute;
  margin-left: 589px;
  margin-top: 237px;
}

.caja-pizza{
  display: inline-block;
  width: 301px;
  position: absolute;
  margin-left: 900px;
  margin-top: 394px;
}

.caja-pizza img{
  width: 370px;
  
}

@keyframes cinta{
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

.cinta{ 
  display: inline-block;
  width: 100%; 
  height: 7%; 
  margin-top: 39%;
  position: absolute;
  background-size: 5%;
  background-image: url("images/chapa-1.jpg");
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: cinta 11s linear infinite;
}
 
.ingredients{
  display: block;
  width: 83px;
  position: absolute;
  margin-top: -45px;
  margin-left: 15px;
  cursor: move;
  animation: ingredients 8s linear infinite;
} 

@keyframes ingredients{
  to{margin-left:1600px;}
} 




