.game-page {
  position: relative;
  background-image: url("../images/pizza-final.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.score,
.cocinero,
.cinta,
.cinta img,
#ingre img,
#cinta img,
#caja-pizza,
.visible,
.ingredients,
.guy img,
h3,
#carne,
#carne img,
#picante,
#picante img,
#boletus,
#boletus img,
#tuna,
#tuna img,
#diabola,
#diabola img {
  display: none;
}

.final-text{
  display: block;
  font-size: 65px;
  color: #42cc82;
  position: absolute;
  text-align: center;
  margin-left: 57%;
  margin-top: 7%;
}

.final-text p{
  padding-bottom: 50px; 
}