.caja-pizza {
  display: inline-block;
  visibility: visible;
  width: 301px;
  position: absolute;
  margin-left: 900px;
  margin-top: 360px;
  width: 370px;
}

.ingre-queso,
.ingre-tomate,
.ingre-zanahoria,
.ingre-piña,
.ingre-seta,
.ingre-pimienta,
.ingre-manzana,
.ingre-tocino,
.ingre-pepperoni,
.ingre-pescado,
.ingre-lechuga {
  visibility: hidden;
  width: 71px;
  position: absolute;
  margin-left: 980px;
}

.ingre-queso.visible {
  visibility: visible;
  margin-top: 525px;
}

.ingre-tomate.visible {
  visibility: visible;
  margin-top: 390px;
  margin-left: 990px;
}

.ingre-zanahoria.visible {
  visibility: visible;
  width: 71px;
  margin-top: 473px;
  position: absolute;
  margin-left: 1056px;
}

.ingre-piña.visible {
  visibility: visible;
  width: 71px;
  margin-top: 520px;
  position: absolute;
  margin-left: 1150px;
}

.ingre-seta.visible {
  visibility: visible;
  width: 71px;
  margin-top: 520px;
  position: absolute;
  margin-left: 1050px;
}

.ingre-pimienta.visible {
  visibility: visible;
  width: 71px;
  margin-top: 500px;
  position: absolute;
  margin-left: 1135px;
}

.ingre-manzana.visible {
  visibility: visible;
  width: 71px;
  margin-top: 390px;
  position: absolute;
  margin-left: 1122px;
}

.ingre-tocino.visible {
  visibility: visible;
  width: 71px;
  margin-top: 520px;
  position: absolute;
  margin-left: 1100px;
}

.ingre-pepperoni.visible {
  visibility: visible;
  width: 71px;
  margin-top: 463px;
  position: absolute;
  margin-left: 1043px;
}

.ingre-pescado.visible {
  visibility: visible;
  width: 71px;
  margin-top: 480px;
  position: absolute;
  margin-left: 1300px;
}

.ingre-lechuga.visible {
  visibility: visible;
  width: 71px;
  margin-top: 400px;
  position: absolute;
  margin-left: 1100px;
}
