h3 {
  font-size:60px;
  margin-top: 10px;
}

#all-in{
  visibility: hidden;
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 5%;
  font-size: 30px;
}

#all-in img{
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 20px;
}

#pepperoni{
  visibility: hidden;
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 5%;
  font-size: 30px;
}


#pepperoni img{
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 20px;
}

#veggie{
  visibility: hidden;
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 5%;
  font-size: 30px;
}


#veggie img{
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 20px;
}

#tuna{
  visibility: hidden;
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 5%;
  font-size: 30px;
}

#tuna img{
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 20px;
}

#diabola{
  visibility: hidden;
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 5%;
  font-size: 30px;
}


#diabola img{
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 20px;
}

