h3 {
  font-size: 50px;
  margin-top: 10px;
}

#tocino {
  visibility: hidden;
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 5%;
  font-size: 30px;
  width: 320px;
}

#tocino img {
  display: inline-block;
  width: 55px;
  height: 50px;
  padding-top: 20px;
}

#pepperoni {
  visibility: hidden;
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 5%;
  font-size: 30px;
}

#pepperoni img {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 20px;
}

#seta {
  visibility: hidden;
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 5%;
  font-size: 30px;
}

#seta img {
  display: inline-block;
  width: 45px;
  height: 50px;
  padding-top: 20px;
}

#pescado {
  visibility: hidden;
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 5%;
  font-size: 30px;
}

#pescado img {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 20px;
}

#queso {
  visibility: hidden;
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 5%;
  font-size: 30px;
}

#queso img {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 20px;
}
