* {
  margin: 0;
  padding: 0;
}

.title {
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 2%;
  margin-left: 40%;
}

#all-in,
#pepperoni,
#veggie,
#tuna,
#diabola {
  position: absolute;
  width: 17%;
  height: 1%;
  visibility: hidden;
}

#all-in img,
#pepperoni img,
#veggie img,
#tuna img,
#diabola img {
  width: 10px;
  height: 10px;
}

.pizarra {
  width: 100%;
}

.pizarra img {
  position: absolute;
  width: 445px;
  height: 582px;
  margin-top: 10%;
  margin-left: 7%;
}

.pizarra p {
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 19%;
  margin-left: 9%;
  font-size: 80px;
}

.pizarra ul {
  width: 60%;
  color: white;
  font-size: 29px;
  position: absolute;
  margin-top: 350px;
  margin-left: 169px;
}

.pizarra li {
  padding-bottom: 44px;
}

.game-page {
  position: relative;
  background-image: url("../images/chicote-cuchillo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.pizza-start {
  position: absolute;
  width: 300px;
  margin-top: 43%;
  margin-left: 41%;
  animation-name: pizza-start;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: move;
}

@keyframes pizza-start {
  100% {
    margin-top: 41%;
  }
}

.cocinero {
  display: none;
}

.caja-pizza {
  visibility: hidden;
}

.cinta {
  display: none;
}

.guy img {
  visibility: hidden;
  width: 10px;
  height: 10px;
}

#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}
