* {
  margin: 0;
  padding: 0;
}

.title {
  position: absolute;
    text-align: center;
    background-image: url(../images/cool.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0%;
    margin-left: 18%;
    width: 63%;
    height: 16%;
}

.final-text {
  display:none;
}

.pizarra {
  width: 100%;
}

.pizarra img {
  position: absolute;
  width: 445px;
  height: 582px;
  margin-top: 10%;
  margin-left: 7%;
}

.pizarra p {
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 19%;
  margin-left: 9%;
  font-size: 80px;
}

.pizarra ul {
  width: 60%;
  color: white;
  font-size: 29px;
  position: absolute;
  margin-top: 350px;
  margin-left: 169px;
}

.pizarra li {
  padding-bottom: 44px;
}

.game-page {
  position: relative;
  background-image: url("../images/chicote-cuchillo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.pizza-start {
  position: absolute;
  width: 300px;
  margin-top: 43%;
  margin-left: 41%;
  animation-name: pizza-start;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: move;
}

@keyframes pizza-start {
  100% {
    margin-top: 41%;
  }
}

.cocinero {
  display: none;
}

.caja-pizza {
  visibility: hidden;
}

.cinta {
  display: none;
}

.guy img {
  visibility: hidden;
  width: 10px;
  height: 10px;
}
